/LICENSE
/README.mkd
/train.test200.cbor
/train.test200.cbor.article.entity.qrels
/train.test200.cbor.article.qrels
/train.test200.cbor.hierarchical.entity.qrels
/train.test200.cbor.hierarchical.qrels
/train.test200.cbor.outlines
/train.test200.cbor.paragraphs
/train.test200.cbor.toplevel.entity.qrels
/train.test200.cbor.toplevel.qrels
/train.test200.fold0.cbor
/train.test200.fold0.cbor.article.entity.qrels
/train.test200.fold0.cbor.article.qrels
/train.test200.fold0.cbor.hierarchical.entity.qrels
/train.test200.fold0.cbor.hierarchical.qrels
/train.test200.fold0.cbor.outlines
/train.test200.fold0.cbor.paragraphs
/train.test200.fold0.cbor.toplevel.entity.qrels
/train.test200.fold0.cbor.toplevel.qrels
/train.test200.fold0.titles
/train.test200.titles
